# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dev environment / IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker / Git
.dockerignore
Dockerfile
.git/
.gitignore

# Jupyter Notebooks
.ipynb_checkpoints
